
.editor_static {
  font-family: 'Cormorant Unicase', serif;
  color: rgb(101, 51, 170);
  font-size: 2rem;
}


header {
    background: #333333;
}

header .navbar-brand {
    color:#dc3545 !important;
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-family: 'Major Mono Display', monospace;
    font-weight: 100;
    text-transform: uppercase;
}

header .navbar-nav .nav-item {
  font-family: 'Cormorant Unicase', serif;
  font-size: 1.4rem;
  color: #ffffff !important;

}

.mainLayout_container {
  background-color: #333333;
}

.content_container{
  margin: 0 auto;
  max-width: 800px;
  background-color: #DEDEDE;
  padding: 2rem;
  border: 1px #dc3545 solid;
}